/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

.post hr {
  position: relative;
  display: block;
  width: 100%;
  margin: 2.5em 0 3.5em;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid color-mod(var(--lightgrey) l(+10%));
}

.post audio,
.post canvas,
.post iframe,
.post img,
.post svg,
.post video {
  vertical-align: middle;
}

.post fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.post textarea {
  resize: vertical;
}

.post p,
.post ul,
.post ol,
.post dl,
.post blockquote {
  margin: 0 0 1.5em 0;
}

.post ol,
.post ul {
  padding-left: 1.3em;
  padding-right: 1.5em;
}

.post ol ol,
.post ul ul,
.post ul ol,
.post ol ul {
  margin: 0.5em 0 1em;
}

.post ul {
  list-style: disc;
}

.post ol {
  list-style: decimal;
}

.post ul,
.post ol {
  max-width: 100%;
}

.post li {
  margin: 0.5em 0;
  padding-left: 0.3em;
  line-height: 1.6em;
}

.post dt {
  float: left;
  margin: 0 20px 0 0;
  width: 120px;
  color: var(--darkgrey);
  font-weight: 500;
  text-align: right;
}

.post dd {
  margin: 0 0 5px 0;
  text-align: left;
}

.post blockquote {
  margin: 1.5em 0;
  padding: 0 1.6em 0 1.6em;
  border-left: var(--whitegrey) 0.5em solid;
}

.post blockquote p {
  margin: 0.8em 0;
  font-size: 1.2em;
  font-weight: 300;
}

.post blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  opacity: 0.8;
}
/* Quotation marks */
.post blockquote small:before {
  content: '\2014 \00A0';
}

.post blockquote cite {
  font-weight: bold;
}
.post blockquote cite a {
  font-weight: normal;
}

.post a {
  color: color-mod(var(--blue) l(-5%));
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: 0;
  line-height: 1.15;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

.post h1 {
  margin: 0 0 0.5em 0;
  font-size: 5.5rem;
  font-weight: 600;
}
@media (max-width: 500px) {
  .post h1 {
    font-size: 2.2rem;
  }
}

.post h2 {
  margin: 1.5em 0 0.5em 0;
  font-size: 2.2rem;
}
@media (max-width: 500px) {
  .post h2 {
    font-size: 1.8rem;
  }
}

.post h3 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.8rem;
  font-weight: 500;
}
@media (max-width: 500px) {
  .post h3 {
    font-size: 1.7rem;
  }
}

.post h4 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.6rem;
  font-weight: 500;
}

.post h5 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.post h6 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.4rem;
  font-weight: 500;
}
.post pre {
  overflow-x: auto;
  margin: 1.5em 0 3em;
  padding: 20px;
  max-width: 100%;
  border: 1px solid white;
  font-size: 1.4rem;
  line-height: 1.5em;
  background: #00000090;
  border-radius: 5px;
}

.post code {
  padding: 0 5px 2px;
  font-size: 0.8em;
  line-height: 1em;
  font-weight: 400 !important;
  background: #361e029d;
  border-radius: 3px;
  word-break: break-all;
}

.post pre code {
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
}
